@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* VARIÁVEIS DE CORES */
:root {
    --text-color: #fff;
    --general-color: #23272A;
}

/* CONTAINER */
.container {
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
}

/* HEADER - BACKGROUND */
.bg-small {
    background: url('./img-iphone/bg-small.png') no-repeat;
}

.text {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

.text .p1 {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 2em;
    font-weight: 400;
    color: var(--text-color);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text .p2 {
    font-size: 1em;
    color: var(--text-color);
    max-width: 350px;
    line-height: 21px;
}

.button {
    width: 100%;
    margin-top: 5%;
    column-gap: 16px;
}

.btn {
    width: 380px;
    height: 54px;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    border-radius: 28px;
    font-weight: 400;
}

.button .b1 {
    margin-bottom: 20px;
    color: #23272A;
}

.button .b2 {
    margin-bottom: 80px;
    color: var(--text-color);
    background-color: var(--general-color);
}

/* SECTION - 1 */
.section-1 {
    width: 100%;
    text-align: left;
    margin-bottom: 10%;
    margin-top: 10%;
}

.text-1 {
    padding: 5%;
}

.text-1 .p1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: var(--general-color);
}

.text-1 .p2 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
    color: var(--general-color);
    margin-top: 20px;
}

/* SECTION-2 */
.section-2 {
    width: 100%;
    text-align: left;
    margin-bottom: 10%;
    margin-top: 10%;
}

.section-2 img {
    width: 100%;
}

.text-2 {
    padding: 5%;
}

.text-2 .p1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: var(--general-color);
}

.text-2 .p2 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
    color: var(--general-color);
    margin-top: 20px;
}

/* SECTION-3 */
.section-3 {
    width: 100%;
    text-align: left;
    margin-bottom: 10%;
    margin-top: 10%;
}

.section-3 img {
    width: 100%;
}

.text-3 {
    padding: 5%;
}

.text-3 .p1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: var(--general-color);
}

.text-3 .p2 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
    color: var(--general-color);
    margin-top: 20px;
}

/* SECTION-4 */
.section-4 {
    width: 100%;
    text-align: left;
    margin-bottom: 10%;
    margin-top: 10%;
}

.section-4 img {
    width: 100%;
}

.text-4 {
    padding: 5%;
}

.text-4 .p1 {
    font-family: 'Luckiest Guy';
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: var(--general-color);
}

.text-4 .p2 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
    color: var(--general-color);
    margin-top: 20px;
}

/* FOOTER */
footer {
    height: 140px;
    background: var(--general-color);
}

footer img {
    margin-top: 40px;
}


/* RESPONSIVIDADE 1280PX */
@media screen and (min-width: 1280px) {

    .bg-larger {
        background: url('./image/bg-larger.png') no-repeat;
        background-position: center;
        background-size: cover;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }


    .text .p1 {
        font-size: 56px;

    }

    .text .p2 {
        max-width: 757px;
    }

    .button .b1 {
        width: 205px;
        margin-right: 8px;
    }

    .button .b2 {
        width: 281px;
        margin-left: 8px;
    }

    /* SECTION - 1 */
    .section-1 {
        height: 70vh;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .image-1 {
        display: none;
    }

    .img-1 {
        background: url('./image/image-1.png') no-repeat;
        background-position: left;
        background-size: auto;
        float: left;
    }

    .text-1 {
        float: right;
        width: 500px;
        height: 600px;
    }

    .text-1 .p1 {
        font-size: 40px;
        font-weight: 800;
        line-height: 50px;
        text-align: left;
        color: var(--general-color);
    }

    .text-1 .p2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--general-color);
    }

    /* SECTION - 2 */
    .section-2 {
        height: 60vh;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .image-2 {
        display: none;
    }

    .img-2 {
        background: url('./image/image-2.png') no-repeat;
        background-position: right;
        background-size: auto;
        float: right;
    }

    .text-2 {
        display: flex;
        flex-direction: column;
        float: left;
        width: 400px;
        height: 100px;
    }

    .text-2 .p1 {
        font-size: 40px;
        font-weight: 800;
        line-height: 54px;
        text-align: left;
        color: var(--general-color);
        width: 329px;
        height: 108px;
        top: 118px;
        left: 153px;

    }

    .text-2 .p2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: var(--general-color);
    }

    /* SECTION - 3 */
    .section-3 {
        height: 70vh;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .image-3 {
        display: none;
    }

    .img-3 {
        background: url('./image/image-3.png') no-repeat;
        background-position: left;
        background-size: auto;
        float: left;
    }

    .text-3 {
        float: right;
        width: 400px;
        height: 400px;
    }

    .text-3 .p1 {
        font-size: 40px;
        font-weight: 800;
        line-height: 50px;
        text-align: left;
        color: var(--general-color);
    }

    .text-3 .p2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--general-color);
    }

    /* SECTION - 4 */
    .section-4 {
        height: 150vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .image-4 {
        display: none;
    }

    .img-4 {
        background: url('./image/image-4.png') no-repeat;
        background-position: center;
        background-size: auto;
    }

    .text-4 {
        margin-bottom: 50px;
    }

    .text-4 .p1 {
        font-size: 40px;
        font-weight: 400;
        line-height: 40px;
        text-align: center;
        font-family: 'Luckiest Guy', sans-serif;
        color: var(--general-color);
    }

    .text-4 .p2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--general-color);
    }

    /* FOOTER */
    footer {
        height: 134px;
        background: var(--general-color);
    }

    footer img {
        margin-top: 10px;
    }

}